body {
  /*max-width: 60rem;*/
  margin: 0 auto;
}

@media (min-width: 576px) {
  :root { --pico-font-size: 100%; }
}
@media (min-width: 768px) {
  :root { --pico-font-size: 100%; }
}
@media (min-width: 1024px) {
  :root { --pico-font-size: 100%; }
}
@media (min-width: 1280px) {
  :root { --pico-font-size: 100%; }
}
@media (min-width: 1536px) {
  :root { --pico-font-size: 100%; }
}

