/*-- scss:defaults --*/

$body-bg: #FFFFFF !default;
$body-color: #000000 !default;
$link-color: #4040BF !default;
$primary: #E8E8FC !default;

$code-bg: null !default; // Placeholder for default value
$code-color: null !default; // Placeholder for default value

$navbar-bg: #3CDD8C !default;
$navbar-fg: #FFFFFF !default;
$navbar-hl: #000000 !default;
